<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('patch_user', id=user.id) }}" method="post">
        <div>
            <label>
                Никнейм
                <input type="text" name="nickname" value="{{ user.nickname }}">
            </label>
            {% if errors['nickname'] %}
            <div>{{ errors['nickname'] }}</div>
            {% endif %}
        </div>
        <br>
        <div>
            <label>
                Email
                <input type="email" required name="email" value="{{ user.email }}">
            </label>
            {% if errors['email'] %}
            <div>{{ errors['email'] }}</div>
            {% endif %}
        </div>
        <br>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>