<h1>New user</h1>

{% if messages %}
<div class="{{ messages[0][0] }}">
    {{ messages[0][1] }}
</div>
{% endif %}
<hr>

<form action="/users" method="post">
    <div>
        <label>
            Никнейм
            <input type="text" name="nickname" value="{{ user.nickname }}">
        </label>
        {% if errors['nickname'] %}
        <div>{{ errors['nickname'] }}</div>
        {% endif %}
    </div>
    <br>
    <div>
        <label>
            Email
            <input type="email" required name="email" value="{{ user.email }}">
        </label>
        {% if errors['email'] %}
        <div>{{ errors['email'] }}</div>
        {% endif %}
    </div>
    <br>
    <div>
        <input type="submit">
    </div>
</form>